<header class="main-header">
    <img src="/images/HS.png" alt="school-logo" class="header-logo">
  <h1>Haggai Zuriel School Voting System — Student Portal</h1>
  <nav>
    <a href="/student/vote">Vote</a>
    <a href="/student/results">Results</a>
    <a href="/admin/logout">Logout</a>
  </nav>
  <hr>
</header>

